<!doctype html>
<html lang="en-US" ng-app="AddressBook">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="main.css">
  <title>The Online Rolodex</title>
</head>
<body>
  <div class="container" ng-controller="AddressBookController as abc">
     <div class="row text-center">
         <div class="col-md-11" style="padding-left:0px;">
            <h1>Leslie Knope's Address Book</h1>  
         </div>
         <div class="col-md-1">
            <button class="btn btn-info btn-lg">ADD</button>
         </div>
     </div>
     <div class="row hiddenbox" id="target">
         <form class="form-inline" name="myForm" ng-submit = 'myForm.$valid && abc.addNewContact()' novalidate>
            <div class="form-group">
              <label for="name" class="control-label">Name</label>
              <input class="form-control" id="name" type="text" ng-model="abc.newContact.name" required placeholder="Name">
            </div>
            &nbsp;&nbsp;
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input class="form-control" placeholder="phone" id="phone" type="text" ng-model="abc.newContact.phone">
            </div>
&nbsp;&nbsp;
            <div class="form-group">
              <label for="email">Email Address</label>
              <input class="form-control" id="email" type="text" ng-model="abc.newContact.email" placeholder="email">
            </div>
            &nbsp;&nbsp;
            <div class="form-group">
              <label for="Importantdates">Important Dates</label>
              <input class="form-control" id="Importantdates" type="text" ng-model="abc.newContact.dates" placeholder="Important Dates">
            </div>
            <br><br>

            <div class="form-group">
                <label>Group</label>
                <select class="form-control" ng-model="abc.newContact.group">
                  <option value={{key}} ng-repeat="(key,value) in abc.groupOptions">
                  {{value}}
                  </option>
                </select>
            </div>
            
            <input class="btn btn-primary" type="submit" value="Add Contact" ng-show="myForm.$valid" />
         
         </form>
     </div>
      <br>
     <div class="row data">
         <table class="table table-bordered">
            <thead>
              <tr>
                <th>Contact Pic</th>
                <th>Contact Name</th>
                <th>Phone Number</th>
                <th>Email Address</th>
                <th>Important Dates</th>
                <th>Group</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            <tr ng-repeat="person in abc.contact">
            <td><img class="image img-thumbnail" ng-src="{{person.image}}"></td>
            <td>{{person.name}}</td>
            <td>{{person.phone}}</td>
            <td>{{person.email}}</td>
            <td>{{person.dates}}</td>
            <td>{{person.group}}</td>
            <td class="text-center"><button class="btn btn-danger" ng-click='abc.removeContact(person)'>Delete</button></td>
            </tr>
            </tbody>
          </table>
     </div>
  </div>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="js/main.js"></script>

  <script type="text/javascript">
     $(document).ready(function(){
        $('.btn-info').click(function(){
           $('#target').toggleClass("hiddenbox");
        });
     });

  </script>

</body>
</html>
